@import url('https://fonts.google.com/share?selection.family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.title {
    font-size: 40px;
    text-align: center;
    font-family: 'Prompt';
}

.formBox {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc; 
}
.formGroup {
    margin-bottom: 1rem;
}

.input {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 4px;
}

.button:hover {
    background-color: #005bb5;
}

